<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>rename HPET to XPET,  pair with SSDT-HPET.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SFBFVA==
					</data>
					<key>Replace</key>
					<data>
					WFBFVA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix Return(SDSM) problem (not the perfect way)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U00ApFNEU01oaWprpABbgg==
					</data>
					<key>Replace</key>
					<data>
					U00AoAgKEaRTRFNNpABbgg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>fix Method ADBG problem (not the perfect way)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RwmgDlsSTURCRwCkTURCR2ikAA==
					</data>
					<key>Replace</key>
					<data>
					RwmgBQoRpACgBQoRpACgBAGkAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change ECDV to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNEVg==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change H_EC to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SF9FQw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device AC rename to ADP1  pair with SSDT-ADP1 - credit syscl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QUNfXw==
					</data>
					<key>Replace</key>
					<data>
					QURQMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method PNOT rename to _NOT pair with SSDT-PNOT.aml - credit scottsanett</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					MxRGIlBOT1Q=
					</data>
					<key>Replace</key>
					<data>
					MxRGIl9OT1Q=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Remove _STA method for PNP0C04 to load - credit syscl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AQEiACB5ABQYX1NUQQA=
					</data>
					<key>Replace</key>
					<data>
					AQEiACB5ABQYWFNUQQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device SBTN rename to SLPB pair with SSDT-SLPB - credit syscl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0JUTg==
					</data>
					<key>Replace</key>
					<data>
					U0xQQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device ALSD rename to ALS0 - credit syscl</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QUxTRAhfSEk=
					</data>
					<key>Replace</key>
					<data>
					QUxTMAhfSEk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename Method GPRW,02 to Method XPRW,02 and need add-on  SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwJwaA==
					</data>
					<key>Replace</key>
					<data>
					WFBSVwJwaA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HS12 -&gt; HS92 to avoid the patchmatic error, pair with SSDT-TB.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SFMxMg==
					</data>
					<key>Replace</key>
					<data>
					SFM5Mg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename  Method BRT6,2 to BRTX,2, and need add-on  SSDT-BRT6.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					FCBCUlQ2Ag==
					</data>
					<key>Replace</key>
					<data>
					FCBCUlRYAg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU, optionally pair with SSDT-IGPU.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF, optionally pair with SSDT-HDEF.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change OSID to OSSD, that because of the _OSI rename patch may cause problem</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					T1NJRA==
					</data>
					<key>Replace</key>
					<data>
					T1NTRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB, optionally pair with SSDT-EHCI_Disable.aml, SSDT-LPC.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA, optionally pair with SSDT-SATA.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI, optionally pair with SSDT-IMEI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwE=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,S) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1BUUwk=
					</data>
					<key>Replace</key>
					<data>
					WlBUUwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwE=
					</data>
					<key>Replace</key>
					<data>
					WldBSwE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1dBSwk=
					</data>
					<key>Replace</key>
					<data>
					WldBSwk=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,N) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwA=
					</data>
					<key>Replace</key>
					<data>
					WldBSwA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(XWAK,0,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WFdBSwg=
					</data>
					<key>Replace</key>
					<data>
					WldBSwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwI=
					</data>
					<key>Replace</key>
					<data>
					WFBSVwI=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(UPRW,2,..) to Method(XPRW,2,..), pair with SSDT-PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VVBSVwpwEg==
					</data>
					<key>Replace</key>
					<data>
					WFBSVwpwEg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LANC Method(_PRW,0,S) to Method(XPRW,0,..), pair with SSDT-LANC_PRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					AAAZABQfX1BSVwg=
					</data>
					<key>Replace</key>
					<data>
					AAAZABQfWFBSVwg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex SMIX,01 to SMIX,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFTTUlYAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFTTUlYAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex WMIX,01 to WMIX,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFXTUlYAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFXTUlYAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex ECMX,01 to ECMX,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFFQ01YAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFFQ01YAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex ECSX,01 to ECSX,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFFQ1NYAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFFQ1NYAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex ECM1,01 to ECM1,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFFQ00xAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFFQ00xAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex QSEV,01 to QSEV,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFRU0VWAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFRU0VWAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Mutex ECAX,01 to ECAX,00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WwFFQ0FYAQ==
					</data>
					<key>Replace</key>
					<data>
					WwFFQ0FYAA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>rename _RMV to XRMV</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1JNVg==
					</data>
					<key>Replace</key>
					<data>
					WFJNVg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _STA to XSTA in Device GPI0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					R1BJMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _CRS to XCRS in Device TPD1</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0NSUw==
					</data>
					<key>Replace</key>
					<data>
					WENSUw==
					</data>
					<key>TgtBridge</key>
					<data>
					VFBEMQ==
					</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>BGRP</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<false/>
		<key>ResetAddress</key>
		<string>0xB2</string>
		<key>ResetValue</key>
		<string>0x73</string>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC2</key>
			<false/>
			<key>EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT_XHCI_Syspref.aml</string>
			<string>SSDT_Realtek_Syspref.aml</string>
			<string>SSDT_IGPU_Syspref.aml</string>
			<string>SSDT-XWAK.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-XHC.aml</string>
			<string>SSDT-XE42.aml</string>
			<string>SSDT-WIFI_Syspref.aml</string>
			<string>SSDT-USBX.aml</string>
			<string>SSDT-UPRW.aml</string>
			<string>SSDT-UIAC-9550.aml</string>
			<string>SSDT-TB.aml</string>
			<string>SSDT-SMBUS.aml</string>
			<string>SSDT-SLPB.aml</string>
			<string>SSDT-SATA.aml</string>
			<string>SSDT-RMNE.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-PS2K.aml</string>
			<string>SSDT-PNOT.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-PMCR.aml</string>
			<string>SSDT-NVME_Syspref.aml</string>
			<string>SSDT-MCHC.aml</string>
			<string>SSDT-EC.aml</string>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-LANC_PRW.aml</string>
			<string>SSDT-IMEI.aml</string>
			<string>SSDT-IGPU.aml</string>
			<string>SSDT-IGPU-MEM2.aml</string>
			<string>SSDT-I2C.aml</string>
			<string>SSDT-HPET.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-DMAC.aml</string>
			<string>SSDT-Disable_DGPU.aml</string>
			<string>SSDT-Deep-Idle.aml</string>
			<string>SSDT-Config.aml</string>
			<string>SSDT-BRT6.aml</string>
			<string>SSDT-ALC298.aml</string>
			<string>SSDT-HDEF.aml</string>
			<string>SSDT-ADP1.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>nv_disable=1 dart=0 brcmfx-country=#a -v darkwake=8</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>2</integer>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C4</key>
		<false/>
		<key>C6</key>
		<false/>
		<key>HWPEnable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,PanelPowerUp</string>
				<key>Value</key>
				<data>
				MAAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,Gfx324</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,PanelPowerDown</string>
				<key>Value</key>
				<data>
				PAAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,PanelPowerOff</string>
				<key>Value</key>
				<data>
				EQAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,PanelCycleDelay</string>
				<key>Value</key>
				<data>
				+gAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL00,PanelPowerOn</string>
				<key>Value</key>
				<data>
				GQEAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device-colors</string>
				<key>Value</key>
				<data>
				AAIAAKCdnQAAAAAAAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,GfxYTile</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</array>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>en_US:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x19160000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>1536MB -&gt; 2048MB for HD520_530_540 Mobile</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQMDAwAAIAIAAFABAAAAYA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AQMDAwAAIAIAAFABAAAAgA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.13 beta (based on denskop patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSI=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yI=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>eDP, port 0000, 0x191e0000, 0x19160000, 0x19260000, 0x19270000, 0x191b0000, 0x19160002, 0x19260002, 0x191e0003, 0x19260004, 0x19270004, 0x193b0005 credit syscl</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAIAAIAAACYAAAAAQUJAAAEAAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				AAAIAAAEAACYAAAAAQUJAAAEAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.12.2 fudge USB 3.1 device ID</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<string>30783135623638303836</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<string>30783135623538303836</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Bypass ThunderBolt3 SkipEnumeration credit kid2010 implemented by syscl</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				VUiJ5UFXQVZBVUFUU0iB7DgB
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>IOThunderboltFamily</string>
				<key>Replace</key>
				<data>
				VUiJ5THAXcNBVUFUU0iB7DgB
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx in AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>02/08/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP133.88Z.0242.B00.1802080916</string>
		<key>Board-ID</key>
		<string>Mac-A5C67F76ED83108C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02612501OPFF4N1H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE13F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro13,3</string>
		<key>SerialNumber</key>
		<string>C02RG2J6GTFN</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>ExposeSysVariables</key>
		<false/>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<false/>
	</dict>
</dict>
</plist>
